<div class="container" role="main">
	<div class="row">

		<!-- buffer space -- fix this to offset or something with bootstrap -->
		<div class="col-md-2">
		</div>

		<div id="main" class="col-md-8">

			<div id="sidebar" class="col-md-5">
				<div class="list-group">
					<a id="link1" class="list-group-item">An interesting article</a>
					<a id="link2" class="list-group-item">A second interesting article</a>
				</div><!-- listgroup div -->
			</div><!--.sidebar 8 col div-->

			<div id="content" class="col-md-7">
				<h1 id = "title" data-bind="text: title"></h1>
				<p id = "content" data-bind="text: content">{{ content }}</p>
			</div> <!-- /content div 4 col -->

		</div> <!-- /main div-->

	</div>	<!-- /row -->
</div> <!-- /container -->

<script type="text/javascript">

	window.onload = function(){

    // knockout stuff
      function ViewModel() {
        this.title = ko.observable();
        this.content = ko.observable();
     }
     

     ko.applyBindings(this.viewModel = new ViewModel());

     $("#link1").mousedown(function(){
     	window.viewModel.content(this.innerHTML);
     });
     $("#link2").mousedown(function(){
     	window.viewModel.content(this.innerHTML);
     });
 }
</script>