{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}
{% assign author = site.owner %}
<div class="author-image">
	<img src="{{ site.url }}/images/bio-photo.png" alt="{{ author.name }}">
</div><!-- ./author-image -->
<div class="author-content">
	<h3 class="author-name" >Written by {% if author.web %}<a href="{{ author.web }}" itemprop="author">{{ author.name }}</a>{% else %}<span itemprop="author">Dale</span>{% endif %}</h3>
	<p class="author-bio">Learn more about Dale <a href="/about">here</a></p>
</div><!-- ./author-content -->
