<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<script src="jquery.min.js"></script>

  {% include head.html %}

  <body>

    <header class="masthead">
      <div class="masthead-inner">


        <h1><a href="/">{{ site.title }}</a></h1>

          <div class="masthead-nav">

              <a href="/">Home</a>


              <a href="/about">About</a>


              <a href="https://github.com/dalequark">GitHub</a>
          </div>

        <div class="colophon">

          {% for tag in site.tags %}
            <p class="colophon-links" onclick="showPosts(this)">{{ tag[0] }}</p>
          {% endfor %}



        </div>
      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>

  </body>

  <script>
    function showPosts(thisTag){
      //window.location.href="/";
      thisTag.innerText;
      var posts = document.getElementsByClassName("post");
      console.log(posts);
      for(post in posts){
        console.log("last child is " + post[0].childNodes)
      }
    }
  </script>

</html>
